<% if remotipart_submitted? %>
    $('.answers').append("<%=  j "#{render(@answer)}" %>");
<% else %>
    $('.answers').append("<%=  j render(@answer) %>");
<% end %>
<% if @answer.errors.present? %>
    <% @answer.errors.full_messages.each do |message| %>
        $errorDiv = $('<div><%= j message %></div>').addClass('answer-errors');
        $(".container#edit-answer-" + answer_id).html($errorDiv.html());
    <% end %>
<% else %>
    $('.answer_<%= @answer.id %>').replaceWith(' <%= j render @answer %> ');
$(document).on('click', '.edit-answer-link', function(e) {
        e.preventDefault();
        $(this).hide();
        answer_id = $(this).data('answerId');
        $('form#edit-answer-' + answer_id).show();
    });
<% end %>

//$(document).on 'click', '.edit-answer-link', (e) ->
//e.preventDefault();
//$(this).hide();
//answer_id = $(this).data('answerId')
//$('form#edit-answer-' + answer_id).show()